
body {
    font-family: 'B Yekan', Helvetica, Arial, sans-serif;
    background-color: #fff;
    text-align: right;
    text-decoration: none;
    background: #555;
}
h1{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
}
a{
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1264px;
  width:100%;
}

.clear{
  clear: both;
}
.info{
  margin : 10px auto;
  font-size: 19px;
  width:96%;
  border: 1px solid black;
  color: white;
  padding-right: 20%;
}
.header{
  margin : 10px auto;
  border-radius: 5px;
  padding-top:20px;
  width:95%;
  background: linear-gradient(to bottom right, rgb(150,100,100),gray);
  color: white;
  text-align: center;
}
.menu_item{
  width: 10%;
  float:right;
  padding: 5px;
  border-left: 1px solid white;
  font-size: 21 px;
  text-align: center;
  transition: background-color 1s;
  /*transition: color 1s;*/
}
.menu_item:hover{
  background-color: #fff;
  color:red;
}

a{
  color:#eee;
  transition: color 1s;
}
a:hover{
  color:red;
}
.menu{
  /*text-shadow: 0 10px 4px rgba(0,0,0,0.8);*/
  width: 100%;
  border-top: 1px solid white;
  margin : 60px auto 0 auto;
}

.content{
  background: gray;
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgb(150,100,100),gray);
  margin: 0 auto;
  padding: 20px;
  color: white;
  height: 500px;
  width:100%;
}
.hidden{
  display: none;
}
.item{
  width: 20%;
  float:right;
  margin:0 30px 20px 0;
  border: 1px solid black;
}
