{% extends 'base.html' %}

{% block content %}
  <div class="activities">
    <table>
      <tr>
        <th>توضیحات</th>
        <th>تراکنش مالی</th>
        <th>تاریخ ثبت گزارش</th>
        <th>عنوان گزارش</th>
        <th>نوع گزارش</th>
      </tr>
      {% for activity in activities %}
      <tr onclick="showActivity(this)">
        <td>{{ activity.description }}</td>
        <td>{{ activity.moneyTrade }}</td>
        <td>{{ activity.commitTime }}</td>
        <td id="activity-title">{{ activity.title }}</td>
        <td>{{ activity.type }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

<script>
function showActivity(activitytr)
{
  activity = activitytr.children[3].innerHTML;
  $.ajax({
        url: '{% url "activity" %}',
        type:"POST",
        data: {
          'activity': activity,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: 'json',
        // success: function (data) {
        //   if (data.succeed && data.succeed == 'true') {
        //     console.log("success");
        //   }
        // }
      });
}
</script>
{% endblock %}
