{% extends 'base.html' %}

{% block content %}
<p class="page-title">گزارشات</p>

  <div class="activities">
    <table>
      <tr>
        <th>توضیحات</th>
        <th>تراکنش مالی</th>
        <th>تاریخ ثبت گزارش</th>
        <th>عنوان گزارش</th>
        <th>نوع گزارش</th>
      </tr>
      {% for activity in activities %}
      <tr onclick="window.location='{% url "activity" activity.id %}'">
        <td>{{ activity.description }}</td>
        <td>{{ activity.moneyTrade }}</td>
        <td>{{ activity.commitTime }}</td>
        <td id="activity-title">{{ activity.title }}</td>
        <td>{{ activity.type }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
