{% load static %}
<!DOCTYPE html>

<html lang="en" class="no-js">
    <head>
        <title>خانه</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
        <script src="{% static 'js/jquery.min.js' %}" ></script>
    </head>
    <body style="font-family: BYekan;">
      <div class="info">
        info
      </div>
      <div class="header box">
        <h1>سامانه مدیریت مشتریان</h1>
        <div class="menu box">
          {% if perms.app.can_add_order %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            ثبت سفارش
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_see_orders %}
          <div class="menu_item">
          <a href="{% url 'orderlist' %}">
            سفارشات
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_change_salary %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            کارکنان
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_see_activities %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            گزارشات
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_change_materials %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            مواد
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_add_payments %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            هزینه ها
          </a>
        </div>
          {% endif %}
          <div class="clear"></div>
        </div>
      </div>
        <div class="container">

          <div class="clear"></div>
          <div class="content box">
            {% block content %}{% endblock %}
          </div>
          <div class="clear"></div>
          <div class="clear"></div>
        </div>
    </body>
</html>
