{% load static %}
<!DOCTYPE html>

<html lang="en" class="no-js">
    <head>
        <title>خانه</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <!-- <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'> -->
        <!-- <link href="{% static 'BYekan.ttf' %}"> -->
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
        <script src="{% static 'js/jquery.min.js' %}" ></script>
        <style media="screen">
        @font-face {
        font-family: 'BYekan';
        src: url("{% static 'BYekan.ttf'%}") format('truetype');
        }
        </style>
        <script>
          function startTime() {
              var today = new Date();
              var h = today.getHours();
              var m = today.getMinutes();
              var s = today.getSeconds();
              m = checkTime(m);
              s = checkTime(s);
              document.getElementById('txt').innerHTML =
              "ساعت" + " : "+ h + ":" + m + ":" + s;
              var t = setTimeout(startTime, 500);
          }
          function checkTime(i) {
              if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
              return i;
          }
        </script>
    </head>
    <body onload="startTime()">
      <div class="header box">
        <h1>سامانه مدیریت مشتریان</h1>
        <div class="menu box">
          {% if perms.app.can_add_order %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            ثبت سفارش
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_see_orders %}
          <div class="menu_item">
          <a href="{% url 'orderlist' %}">
            سفارشات
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_change_salary %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            کارکنان
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_see_activities %}
          <div class="menu_item">
          <a href="{% url 'activities' %}">
            گزارشات
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_change_materials %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            مواد
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_add_payments %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            هزینه ها
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_add_payments %}
          <div class="menu_item">
          <a href="{% url 'editmenu' %}">
            ویرایش منو
          </a>
        </div>
          {% endif %}
        </div>
        <div>
          <div id="txt"></div>
          <button Class="startbtn" onclick="">شروع به کار</button>
          <button Class="startbtn" onclick="">پایان کار</button>
        </div>
        <div class="clear"></div>
      </div>
        <div class="container">

          <div class="clear"></div>
          <div class="content box">
            {% block content %}{% endblock %}
          </div>
          <div class="clear"></div>
          <div class="clear"></div>
        </div>
    </body>
</html>
