{% load static %}

<!DOCTYPE html>

<html lang="en" class="no-js">
    <head>
        <title>خانه</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
        <script src="{% static 'js/jquery.min.js' %}" ></script>
        <style media="screen">
        @font-face {
        font-family: 'BYekan';
        src: url("{% static 'BYekan.ttf'%}") format('truetype');
        }
        </style>
        <script>
          var now;
          function startTime(hour, minute, second) {
            console.log(hour, minute, second)
            now = new Date();
            now.setHours(hour);
            now.setMinutes(minute);
            now.setSeconds(second);
            updateTime();
          }
          function updateTime()
          {
            now = new Date(now.getTime() + 1000); // add 1 second
            var h = now.getHours();
            var m = now.getMinutes();
            var s = now.getSeconds();
            m = formatTime(m);
            s = formatTime(s);
            document.getElementById('txt').innerHTML =
            "ساعت" + " : "+ h + ":" + m + ":" + s;
            setTimeout(updateTime, 1000);
          }
          function formatTime(i) { // add zero in front of one digit numbers
              if (i < 10) {i = "0" + i};
              return i;
          }

          function handlejobtime()
          {
            $.ajax({
                  url: '{% url "handlejobtime" %}',
                  type:"POST",
                  data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  dataType: 'json',
                  success: function (data) {
                    if (data.work != null) {
                      var x = document.querySelector(".startbtn");
                      x.innerHTML = (data.work == 0) ? 'شروع کار' : 'پایان کار';
                    }
                  }
                });
          }
        </script>
    </head>
    <body onload="startTime({{ now.time.hour }}, {{ now.time.minute }}, {{ now.time.second }})">
      <div class="header box">
        <h1>سامانه مدیریت مشتریان</h1>
        <div class="menu box">
          {% if perms.app.can_add_order %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            ثبت سفارش
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_see_orders %}
          <div class="menu_item">
          <a href="{% url 'orderlist' %}">
            سفارشات
          </a>
        </div>
          {% endif %}
          <!-- {% if perms.app.can_change_salary %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            کارکنان
          </a>
        </div>
          {% endif %} -->
          {% if perms.app.can_add_payments %}
          <div class="menu_item">
          <a href="{% url 'editmenu' %}">
            ویرایش منو
          </a>
        </div>
          {% endif %}
          {% if perms.app.can_see_activities %}
          <div class="menu_item">
          <a href="{% url 'customers' %}">
            مشتریان
          </a>
          </div>
          {% endif %}
          {% if perms.app.can_see_activities %}
          <div class="menu_item">
          <a href="{% url 'employee' %}">
            کارکنان
          </a>
          </div>
          {% endif %}
          {% if perms.app.can_see_activities %}
          <div class="menu_item">
          <a href="{% url 'supply_list' %}">
            مواد اولیه
          </a>
          </div>
          {% endif %}
          {% if perms.app.can_see_activities %}
          <div class="menu_item">
          <a href="{% url 'activities' %}">
            گزارشات
          </a>
          </div>
          {% endif %}
          <!-- {% if perms.app.can_change_materials %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            مواد
          </a>
        </div>
          {% endif %} -->
          <!-- {% if perms.app.can_add_payments %}
          <div class="menu_item">
          <a href="{% url 'order' %}">
            هزینه ها
          </a>
        </div>
          {% endif %} -->

        </div>
        <div>
          <div id="txt"></div>
          <button Class="startbtn" onclick="handlejobtime()">
            {% if not request.user.workBegan %}
              شروع به کار
            {% else %}
              پایان کار
            {% endif %}
          </button>

        </div>
        <div class="clear"></div>
      </div>
        <div class="container">

          <div class="clear"></div>
          <div class="content box">
            {% block content %}{% endblock %}
          </div>
          <div class="clear"></div>
          <div class="clear"></div>
        </div>
    </body>
</html>
