{% extends 'base.html' %}
{% block content %}
  <p class="page-title">مشتریان</p>

  <div class="customers">
    <table>
      <tr>
        <th>حذف مشتری</th>
        <th>مشتری ویژه</th>
        <th>مشتری</th>
      </tr>
      {% for customer in customers %}
      <tr>
        <td><button class="editbtn" onclick="delcustomer(this)" >حذف</button></td>
        <td style="direction:rtl"><input type='checkbox' {% if customer.isVIP %} checked {% endif %} onchange="submitVIP(this)"></td>
        <td id='customer-name'>{{ customer.name }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <script>
  function delcustomer(btn){
    customer = btn.parentElement.parentElement.querySelector('#customer-name').innerHTML;
    $.ajax({
      type:'POST',
      url: '{% url "customers" %}',
      data:
      {
        'action':'remove',
        'customer':customer,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      dataType:'json',
      success: function(data){
        if (data.succeed && data.succeed == 'true')
        {
          $(btn).parent().parent().remove();
        }
      }
    });
  }
  function submitVIP(checkbox){
    customer = checkbox.parentElement.parentElement.querySelector('#customer-name').innerHTML;
    isVIP = checkbox.checked;
    $.ajax({
      type:'POST',
      url: '{% url "customers" %}',
      data:
      {
        'action':'change',
        'isVIP':isVIP,
        'customer':customer,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      dataType:'json',
    });
  }
  </script>
{% endblock %}
