{% extends 'base.html' %}
{% block content %}
  <p class="page-title">مشتریان</p>

  <div class="customers">
    <table>
      <tr>
        <th>مشتری ویژه</th>
        <th>مشتری</th>
      </tr>
      {% for customer in customers %}
      <tr>
        <td style="direction:rtl"><input type='checkbox' {% if customer.isVIP %} cheked {% endif %} {% if customer.isVIP %} onchange="makeVIP(this,'VIP')" {% elif %} onchange="makeVIP(this,'notVIP')" {% endif %}></td>
        <td id='customer-name'>{{ customer.name }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <script>
  function makeVIP(cust,state){
    customer = cust.parentElement.parentElement.querySelector('#customer-name').innerHTML;
    $.ajax({
      type:'POST',
      url: '{% url "customers" %}',
      data:
      {
        'state':state,
        'customer':customer,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      dataType:'json',
    });
  }
  </script>
{% endblock %}
