{% extends 'base.html' %}
{% block content %}
<p class="page-title">کارکنان</p>

<div id="overlay">
  <div class="overlay-container-employee">
    <div class=""><h1>ویرایش نام محصول </h1></div>
  <div id="inputs">
    <div class="overlaytext">
      <p>: نام کارمند</p>
    </div>
    <input class="EmployeeName" style="direction:rtl" name="name" >
    <div class="clear"></div>
    <div class="overlaytext">
       <p>: عنوان شغل</p>
    </div>
    <input class="EmployeeJobTitle" style="direction:rtl">
    <div class="clear"></div>
    <div class="overlaytext">
       <p>: حقوق</p>
    </div>
      تومان
    <input class="EmployeeSalary" type="number" style="direction:rtl" min="0" value="0">
    <div class="clear"></div>
    <div class="overlaytext">
       <p>: ساعت شروع کار</p>
    </div>
    <input class="EmployeeWorkBegan" type="time">
    <div class="clear"></div>
    <div class="overlaytext">
       <p>: ساعت اتمام کار</p>
    </div>
    <input class="EmployeeWorkEnd" type="time">
  </div>
    <div class="permissions">
      <p id="permission-title">: دسترسی ها</p>
      {% for permission in permissions %}
        <div class="permission">
          <p>{{permission}}</p>
          <input type="checkbox" id="perminput" name="permission">
        </div>
        <!-- <div class="clear"></div> -->
      {% endfor%}
    </div>

    <div class="clear"></div>
    <button id="edit" class="editbtn" onclick="hideDialogBox('add', this)" >افزودن</button>
    <button id="cancel" class="editbtn" onclick="hideDialogBox('cancel', this)" >انصراف</button>
  </div>
</div>

<div class="employee">
  <table>
    <tr>
      <th>حذف کارمند</th>
      <th>ساعت اتمام کار</th>
      <th>ساعت شروع کار</th>
      <th>حقوق</th>
      <th>شغل</th>
      <th>کارمند</th>
    </tr>
    {% for employee in employees %}
    <tr>
      <td><button class="editbtn" onclick="delEmployee(this)" >حذف</button></td>
      <td>ساعت<input id='workEnd' type='time' value="{{ employee.workEnd }}" onchange="changeSalary(this)"></td>
      <td>ساعت<input id='workStart' type='time' value="{{ employee.workStart }}" onchange="changeSalary(this)"></td>
      <td><input id='salary' type='number' onchange="changeSalary(this)" value="{{ employee.salary}}"></td>
      <td id='employee-job' styles="direction:rtl">{{ employee.jobTitle }}</td>
      <td id='employee-name' styles="direction:rtl">{{ employee.username }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="clear"></div>
<div class="addbtnbox">
  <button class="addbtn" onclick="showDialogBox('addEmployee')">افزودن کارمند</button>
</div>
<div class="clear"></div>
<script>
function showDialogBox(item) {
    var overlay = document.getElementById("overlay");
    overlay.style.display = "block";
    // reset the inputs
    overlay.querySelector(".EmployeeName").value = '';
    overlay.querySelector(".EmployeeJobTitle").value = '';
    overlay.querySelector(".EmployeeSalary").value = '';
    overlay.querySelector(".EmployeeWorkBegan").value = '';
    overlay.querySelector(".EmployeeWorkEnd").value = '';
    // overlay.querySelector(".EmployeePermissions").value = '';
}
function hideDialogBox(type, overlay) {

    if (type == 'add')
    {
      inputs = overlay.parentElement.querySelectorAll('.permissions .permission');
      perms = "";
      for (var i = 0; i < inputs.length, i += 1)
      {
        perms += inputs[i].querySelector("#perminput").checked ? "1," : "0,";
      }
      $.ajax({
        type:'POST',
        url: '{% url "employee" %}',
        data:
        {
          'action':'add',
          'employee_name':overlay.parentElement.querySelector('.EmployeeName').value,
          'employee_job_title':overlay.parentElement.querySelector('.EmployeeJobTitle').value,
          'employee_salary':overlay.parentElement.querySelector('.EmployeeSalary').value,
          'employee_work_start':overlay.parentElement.querySelector('.EmployeeWorkBegan').value,
          'employee_work_end':overlay.parentElement.querySelector('.EmployeeWorkEnd').value,
          'employee_perms':perms,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType:'json',
        success: function (data) {
          if (data.succeed && data.succeed == 'true') {
            document.getElementById("overlay").style.display = "none";
            location.reload(); // TODO
          }
        }
      });
    }
    else
      document.getElementById("overlay").style.display = "none";
}
function delEmployee(btn){
  employee_name = btn.parentElement.parentElement.querySelector('#employee-name').innerHTML;
  $.ajax({
    type:'POST',
    url: '{% url "employee" %}',
    data:
    {
      'action':'remove',
      'employee_name':employee_name,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    dataType:'json',
    success: function(data){
      if (data.succeed && data.succeed == 'true')
      {
        $(btn).parent().parent().remove();
      }
    }
  });
}
function changeSalary(input){
    parent = input.parentElement.parentElement;
    employee = parent.querySelector('#employee-name').innerHTML;
    salary = parent.querySelector('#salary').value;
    workStart = parent.querySelector('#workStart').value;
    workEnd = parent.querySelector('#workEnd').value;
  $.ajax({
    type:'POST',
    url: '{% url "employee" %}',
    data:
    {
      'action':'changeSalary',
      'salary':salary,
      'workStart':workStart,
      'workEnd':workEnd,
      'employee_name':employee,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    dataType:'json',
  });
}
</script>
{% endblock %}
