{% extends 'base.html' %}

{% block content %}
{% for order in orders %}
  <div class=" orderitem orderitem-{{ order.state }}">
    <p class="orderitem-name">فاکتور {{ forloop.counter }}</p>
      <!-- HIDE THIS BRO ! -->
      <p id="order-id">{{ order.id }}</p>
      <!--  -->
      <table>
        <tr>
          <th>قیمت کل</th>
          <th>تعداد</th>
          <th>شرح کالا</th>
        </tr>
        {% for item in order.items.all %}
        <tr>
          <td>{% widthratio item.item.price 1 item.number %}</td>
          <td>{{ item.number }}</td>
          <td>{{ item.item.name }}</td>
        </tr>
        {% endfor %}
      </table>
    <div class="buttons">
      <button class="btn-item acc-btn" name="accept" onclick="order_change_state(this, 'CM')">پذیرفتن</button>
      <button class="btn-item rej-btn" name="accept" onclick="order_change_state(this, 'RJ')">رد کردن</button>
      <button class="btn-item rej-btn" name="accept" onclick="order_change_state(this, 'RD')">آماده</button>
    </div>
  </div>
{% endfor %}

<script>
function order_change_state(order, state)
{
  orderID = parseInt(order.parentElement.parentElement.querySelector("#order-id").innerHTML)
  $.ajax({
        url: '{% url "order_state_change" %}',
        type:"POST",
        data: {
          'order_id': orderID,
          'state':state, // Confirmed
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
          if (data.succeed && data.succeed == 'true') {
            $(order).parent().parent().attr('class', 'orderitem orderitem-'+state);
          }
        }
      });
}
</script>
{% endblock %}
