{% extends 'base.html' %}

{% block content %}
{% for item in items %}
  <div class="item" style="item">
    <div class="desc">{{ item.name }}</div>
    <form name="form2" action="">
    <input type="number" name="counts" min="0" value="0" oninput="order() , calPrice()" oninput="myFunction2()">
    <input class="hidden" type="number" name="price" value="{{ item.price }}">
    <label for="price">{{ item.price }}</label>
    </form>
  </div>
{% endfor %}

<div class="clear">

</div>
<button id="btn1" onclick="order()" name="subject" value="fav_CSS">ثبت سفارش</button>

<p id="showPrice" style="border:1px solid black; color:black; width:50%; margin:0 auto;"></p>

<script>
calPrice();
function reset(){
  document.getElementById("showPrice").innerHTML = "جمع پرداختی:0";
}
function calPrice() {
  var formsCollection;
  var r;
  var count=0;
  formsCollection=document.forms;

  for(r=0;r<formsCollection.length;r++)
  {
        var x = parseInt(formsCollection[r]["counts"].value) * parseInt(formsCollection[r]["price"].value);
        count += x;
  }
  document.getElementById("showPrice").innerHTML = "جمع پرداختی:" + count ;
}
function order() {
  var items=document.querySelectorAll(".desc");
  console.log(items.length)
  var r;
  var orders = "";
  var counts = "";
  for(r=0;r<items.length;r++)
  {
        var x = parseInt(items[r].parentElement.querySelector('input[name="counts"]').value) ;
        if (x>0) {
          orders += items[r].innerHTML + ",";
          counts += x + ",";
        }
  }
  reset();
  // document.getElementById("demo").innerHTML = "جمع پرداختی:" + count ;
}
</script>
{% endblock %}
