{% extends 'base.html' %}

{% block content %}
<div class="orderitem">
  <p class="orderitem-name">فاکتور ۱</p>
    <table>
    <tr>
      <th>شرح کالا</th>
      <th>تعداد</th>
      <th>قیمت کل</th>
    </tr>
    <tr>
      <td>کباب</td>
      <td>1</td>
      <td>500</td>
    </tr>
    <tr>
      <td>پیتزا</td>
      <td>3</td>
      <td>3000</td>
    </tr>
    <tr>
      <td>پیتزا</td>
      <td>3</td>
      <td>3000</td>
    </tr>
    <tr>
      <td>پیتزا</td>
      <td>3</td>
      <td>3000</td>
    </tr>
    <tr>
      <td>قیمت کل</td>
      <td></td>
      <td>3000</td>
    </tr>
  </table>
  <div class="buttons">
    <button class="btn-item acc-btn" name="accept">پذیرفتن</button>
    <button class="btn-item rej-btn" name="accept">رد کردن</button>
  </div>

</div>
<div class="orderitem">
  <p class="orderitem-name">فاکتور ۱</p>
    <table>
    <tr>
      <th>شرح کالا</th>
      <th>تعداد</th>
      <th>قیمت کل</th>
    </tr>
    <tr>
      <td>دوغ</td>
      <td>2</td>
      <td>2000</td>
    </tr>
    <tr>
      <td>کباب</td>
      <td>1</td>
      <td>500</td>
    </tr>
    <tr>
      <td>قیمت کل</td>
      <td></td>
      <td>3000</td>
    </tr>
  </table>
  <div class="buttons">
    <button class="btn-item acc-btn" name="accept">پذیرفتن</button>
    <button class="btn-item rej-btn" name="accept">رد کردن</button>
  </div>
</div>
<div class="orderitem">
  <p class="orderitem-name">فاکتور ۱</p>
    <table>
    <tr>
      <th>شرح کالا</th>
      <th>تعداد</th>
      <th>قیمت کل</th>
    </tr>
    <tr>
      <td>کباب</td>
      <td>1</td>
      <td>500</td>
    </tr>
    <tr>
      <td>پیتزا</td>
      <td>3</td>
      <td>3000</td>
    </tr>
    <tr>
      <th>شرح کالا</th>
      <th>تعداد</th>
      <th>قیمت کل</th>
    </tr>
    <tr>
      <td>کباب</td>
      <td>1</td>
      <td>500</td>
    </tr>
    <tr>
      <td>پیتزا</td>
      <td>3</td>
      <td>3000</td>
    </tr>
    <tr>
      <td>قیمت کل</td>
      <td></td>
      <td>3000</td>
    </tr>
  </table>
  <div class="buttons">
    <button class="btn-item acc-btn" name="accept">پذیرفتن</button>
    <button class="btn-item rej-btn" name="accept">رد کردن</button>
  </div>
</div>
{% endblock %}
