{% extends 'base.html' %}
{% block content %}
<p class="page-title">سفارش ماده اولیه  </p>
<form class="supply-order" action="{% url 'supply_order' %}" method="post">
   <p>:نام ماده</p><input class="supply-order-input" type="text" name="supply-name" value="">
   <div class="clear"></div>
    <p>:مقدار ماده</p><input class="supply-order-input" type="Number" name="supply-amount" value="">
   <div class="clear"></div>
   <div class="addbtnbox">
     <button class="addbtn" type="submit">ثبت</button>
   </div>
</form>
<div class="clear"></div>

{% endblock %}
