{% extends 'base.html' %}
{% block content %}
{% for supply in supplies %}
<div class="supply">
  <p id="supply-name">{{supply.name}}</p>
  <div class="buy-box">
    <p>: قیمت خرید</p>
    <input type="number" id="buyp" name="buy-price" value="{{supply.price}}"/>
    <div class="clear"></div>

  </div>

  <div class="buy-box">
    <p>: مقدار خرید</p>
    <input type="number" id="buyn" name="buy-number" value="{{supply.amount}}"/>
    <div class="clear"></div>

  </div>
  <div class="clear"></div>
  <div class="addbtn-box">
    <button class="addbtn" onclick="addSupply(this)">ثبت</button>
  </div>
</div>
{% endfor %}

  <div class="clear"></div>
<script>
  function addSupply(supply){
    $.ajax({
      type: "POST",
      url: '{% url "supply_order" %}',
      data: {
      'supplyName':supply.parentElement.parentElement.querySelector("#supply-name").innerHTML,
      'supplyPrice':supply.parentElement.parentElement.querySelector("#buyp").value,
      'supplyNumber':supply.parentElement.parentElement.querySelector("#buyn").value,
      csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      dataType:'json'
    });
  }
</script>
{% endblock %}
